// button.scss

// Define gradient colors for the button
$gradient-start: #9f7aea; // A shade of purple
$gradient-end: #f43f5e;

// Define mixin to create gradient background
@mixin gradient-button {
  background: linear-gradient(45deg, $gradient-start, $gradient-end);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;

  transition: all 0.3s ease;
  transform-origin: center;

  &:hover {
    transform: scale(1.05);
  }

  &:hover {
    background: linear-gradient(45deg, $gradient-end, $gradient-start);
  }
}

.custom-button {
  @include gradient-button;
}
